@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* React Flow Overrides to remove ugly black selection borders */
.react-flow__node.selected {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.react-flow__node {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  width: 340px !important;
}